doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/game.css')
    link(rel='stylesheet', href='/javascripts/game.css')
    link(rel='shortcut icon', href='/images/favicon.png', type='image/png')
    script(src='/javascripts/game.js')
    script.
       window.initialState = JSON.parse('!{JSON.stringify(initialState).replace(/\'/g, "\\\'")}');
       window.playerId = !{playerId};
       window.gameId = '!{gameId}';
       window.playerHash = '!{playerHash}';
  body
    h1= title
    p You are player #{playerId}
    #game Loading...