doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/game.css')
    link(rel='stylesheet', href='/javascripts/game.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/javascripts/game.js')
    script.
        window.initialState = JSON.parse('!{JSON.stringify(status)}');
        window.playerId = !{playerId};
        window.gameId = '!{gameId}';
  body
    h1= title
    p Game
    p Game id: #{gameId}
    p You are player #{playerId}
    #game
      #overlay
        #prompt
          .conditions
          button.send OK
      #opponentHand.zone
      #opponentActiveMagi.zone
      #opponentInPlay.zone
      #playerInPlay.zone
      #playerActiveMagi.zone
      #playerHand.zone
      button#pass Pass
